body {
    text-align: center;
}

.title {
    font-size: 30px;
    color: orange;
}

.button1,
.button2,
.button3 {
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.button1 {

}

.button2 {

}

.button3 {
    
}

