body {
    text-align: center;
}

.title {
    font-size: 30px;
    color: orange;
}

.button1 {
    background-color: orange;
    color: black;
    font-weight: bold;
    font-size: 18px;
}

.button2 {
    background-color: ;
}